{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Всего рассылок</h5>
                <p class="card-text display-4">{{ total_mailings }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Всего активных рассылок</h5>
                <p class="card-text display-4">{{ active_mailings }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Всего клиентов</h5>
                <p class="card-text display-4">{{ unique_clients }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}