{% extends 'base.html' %}
{% block title %}Подтверждение удаления{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Удаление рассылки</h1>
    <div class="alert alert-danger">
        <h4 class="alert-heading">Внимание! Это действие отменить нельзя!</h4>
        <p>Вы уверенны, что хотите удалить рассылку:
            <strong>{{ mailing.message.subject|truncatechars:50 }} {{ mailing.message.created_at }}</strong></p>
        <hr>
        <p class="mb-0">При удалении рассылки,
            будут удалены все связанные попытки отправки( {{mailing.attempts.count }} записей).</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'mailings:list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}


